
<%= devise_error_messages! %>
<p class="alert"><%= notice %></p>
<p class="alert alert-error"><%= alert %></p>

<hr>

<center class="muted">
  published on <a class="muted" href="https://github.com/satohk/rkakeibo">github</a><br>
  <a class="muted" href="https://twitter.com/satohk" target="_blank">@satohk</a>
</center>
