

<div id="params-caption-income" style="display:none">収入</div>
<div id="params-caption-cost" style="display:none">支出</div>
<div id="params-caption-assets" style="display:none">資産</div>
<div id="params-caption-liabilities" style="display:none">負債</div>
<div id="params-caption-net-assets" style="display:none">純資産</div>
<div id="params-caption-net-income" style="display:none">利益</div>
